<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/demo2.css' %}">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
        <h1>FAKE DATA</h1>
            <a href="/hydjobs" class="btn btn-success btn-lg">click here for data</a>

      </div>

    </div>

  </body>
</html>
